Siscli/bin/Debug/net7.0/AWSSDK.Core.dll
Siscli/bin/Debug/net7.0/AWSSDK.SecurityToken.dll
Siscli/bin/Debug/net7.0/DnsClient.dll
Siscli/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
Siscli/bin/Debug/net7.0/MongoDB.Bson.dll
Siscli/bin/Debug/net7.0/MongoDB.Driver.Core.dll
Siscli/bin/Debug/net7.0/MongoDB.Driver.dll
Siscli/bin/Debug/net7.0/MongoDB.Libmongocrypt.dll
Siscli/bin/Debug/net7.0/SharpCompress.dll
Siscli/bin/Debug/net7.0/Siscli.deps.json
Siscli/bin/Debug/net7.0/Siscli.dll
Siscli/bin/Debug/net7.0/Siscli.exe
Siscli/bin/Debug/net7.0/Siscli.pdb
Siscli/bin/Debug/net7.0/Siscli.runtimeconfig.json
Siscli/bin/Debug/net7.0/Snappier.dll
Siscli/bin/Debug/net7.0/ZstdSharp.dll
Siscli/bin/Debug/net7.0/runtimes/linux/native/libmongocrypt.so
Siscli/bin/Debug/net7.0/runtimes/osx/native/libmongocrypt.dylib
Siscli/bin/Debug/net7.0/runtimes/win/native/mongocrypt.dll
Siscli/obj/project.assets.json
Siscli/obj/project.nuget.cache
Siscli/obj/Siscli.csproj.nuget.dgspec.json
Siscli/obj/Siscli.csproj.nuget.g.props
Siscli/obj/Siscli.csproj.nuget.g.targets
Siscli/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Siscli/obj/Debug/net7.0/apphost.exe
Siscli/obj/Debug/net7.0/Siscli.AssemblyInfo.cs
Siscli/obj/Debug/net7.0/Siscli.AssemblyInfoInputs.cache
Siscli/obj/Debug/net7.0/Siscli.assets.cache
Siscli/obj/Debug/net7.0/Siscli.csproj.AssemblyReference.cache
Siscli/obj/Debug/net7.0/Siscli.csproj.CopyComplete
Siscli/obj/Debug/net7.0/Siscli.csproj.CoreCompileInputs.cache
Siscli/obj/Debug/net7.0/Siscli.csproj.FileListAbsolute.txt
Siscli/obj/Debug/net7.0/Siscli.dll
Siscli/obj/Debug/net7.0/Siscli.GeneratedMSBuildEditorConfig.editorconfig
Siscli/obj/Debug/net7.0/Siscli.genruntimeconfig.cache
Siscli/obj/Debug/net7.0/Siscli.GlobalUsings.g.cs
Siscli/obj/Debug/net7.0/Siscli.pdb
Siscli/obj/Debug/net7.0/ref/Siscli.dll
Siscli/obj/Debug/net7.0/refint/Siscli.dll
/Application/bin/Debug/net7.0
*.vsidx
/Application/obj
/Domain/bin/Debug/net7.0
/Domain/obj
/Infrastructure/bin/Debug/net7.0
/Infrastructure/obj
/Presentation/bin/Debug/net7.0
/Presentation/obj
/.vs/Siscli/v17/.suo
/.vs/Siscli/config/applicationhost.config
/API/bin/Debug/net7.0
/API/obj
